# JetBrains IDEA project settings folder
.idea

# VSCode project settings
.VSCode

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

# Ignore test results
allure-results
/features/
allure-reports
src/main/resources/static/index.html
src/main/resources/static/main.bundle.js
src/main/resources/static/main.bundle.js.LICENSE.txt
src/main/resources/static/runtime.bundle.js
src/main/resources/static/zucchini.png
src/main/resources/static/images/zucchini.png
